/* Base Element Styles */
h1,
h2,
h3,
h4,
h5,
h6,
a{
  font-family: "Noto Sans JP", sans-serif;
}


/* a variations */

a {
  color: white;
    font-size: 2.5rem;
        text-decoration: none;
}

a:hover {
  color: orange;
}

.meta a{
    color: orange;
    font-size: 1rem;
}

.meta a:hover {
  color: yellow;
}

.post-meta a,
.download{
      color: #0f4c75;
        font-size: 1rem;
}

.post-meta a:hover,
.download:hover{
  color: orange;
}




/* Base Element Styles */

.colored-section {
  background-color: #0f4c75;
  color: #fff;
  text-align: center;
    padding: 7% 15%;
}

.white-section {
  background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

/*Buttons*/
.btn-orange {
    background-color: orange;
    border-color: orange;
    color: black;
}

.btn-orange:hover {
    background-color: darkorange;
    border-color: darkorange;
}



/* Navigation Bar */
.navbar {
    background-color: #0f4c75;
      color: #fff;
      text-align: center;
}

.dropdown-menu {
    background-color: #0f4c75;
      color: white;
      text-align: center;
    border-color: white
}

.dropdown-item {
    background-color: #0f4c75;
        font-size: 1rem;
      color: white;
      text-align: center;
}

/*Title*/
.main-title {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
}

.signature {
  color: #fff;
  font-family: "Sacramento", sans-serif;
  font-size: 5.625rem;
  line-height: 1.5;
}

.main-subtitle {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

.home-main-subtitle {
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
}

.hawaii {
  width: 80%;
}

/*Profile*/
.greeting {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* Bold */
    padding: 2%;
  font-size: 1.5rem;
  line-height: 1.5;
}

.myphoto {
  width: 40%;
}

.intro {
    color: black;
      font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

/*Blog*/
#blog {
    text-align: left;
}

.new-post-section {
    padding: 5%;
}

.blog-body-container {
    background-color: #fff;
    color: #000;
    padding: 5% 15%;
}

.header-title {
        font-weight: 700; /* Bold */
  font-size: 2.5rem;
  line-height: 1.5;
}

.post-title {
    font-family: "Montserrat", sans-serif;
        font-weight: 700; /* Bold */
  font-size: 2.5rem;
  line-height: 1.5;
}

.post-subtitle {
      font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.clearfix {
text-align: right;
}



/*Contact*/
.alert {
  color: yellow;
  background-color: #0f4c75;
  border-color: #0f4c75;
  text-align: center;
    font-size: 3rem;
  padding: 2%;
}
.contact-me {
      font-weight: 700; /* Bold */
    line-height: 1.5;
  font-size: 2rem;
    padding: 2%;
}

.contact-message {
          color: black;
      font-weight: 700; /* Bold */
      line-height: 1.5;
  font-size: 1rem;
        padding: 2%;
}

/*Footer*/
.copyright {
  color: white;
  font-size: 0.75rem;
}

.fab {
  color: black;
}

.footer-section {
  background-color: #0f4c75;
  color: #fff;
  text-align: center;
    padding: 5% 15%;
}

/*About*/
