{% extends "base.html" %}

{% block title %}About - SlimTechMD{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('static/images/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>プロフィール</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7 text-center">
        <img src="{{ url_for('static', filename='images/my-photo.png') }}" alt="profile-img" class="profile-img">
        <h2>こんにちは</h2>
        <p class="intro">
            ハワイ在住の日本人医師、ノブです。
            体重管理と肥満医学に特化したAIヘルスケアプロジェクトAilaniのco-founder。
            科学的根拠に基づいた情報を提供します。
        </p>
    </div>
</div>




{% endblock %}
