{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead colored-section">
        <h1>アイキュリアについて</h1>
    </header>

    <section class="white-section" id="profile">
        <div class="container-fluid">
            <div class="row"> <!-- Use 'row' to create a flex row container -->
                <div class="col-lg-4 col-md-6 col-12 profile"> <!-- Each profile will take up 4 columns on large screens -->
                    <a href="{{ url_for('about_nobu') }}">
                        <img class="myphoto" src="{{ url_for('static', filename='images/my-photo.png') }}" alt="Nobuhiro Ariyoshi profile picture" />
                        <h2 class="greeting">Nobuhiro Ariyoshi, MD</h2>
                        <p class="intro">Co-founder</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12 profile">
                    <a href="{{ url_for('about_takenobu') }}">
                        <img class="myphoto" src="{{ url_for('static', filename='images/takenobu_picture.png') }}" alt="Takenobu Shimura profile picture" />
                        <h2 class="greeting">Takenobu Shimura</h2>
                        <p class="intro">Co-founder</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12 profile">
                    <a href="{{ url_for('about_aoi') }}">
                        <img class="myphoto" src="{{ url_for('static', filename='images/aoi_picture.png') }}" alt="Aoi Otani profile picture" />
                        <h2 class="greeting">Aoi Otani</h2>
                        <p class="intro">Co-founder</p>
                    </a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
