{% extends "base.html" %}

{% block title %}About Me - Nobu Ariyoshi{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead colored-section">
        <h1>About Me</h1>
        <span class="subheading">This is what I do.</span>
    </header>

    <!-- Main Content -->
    <main class="mb-4 white-section">
          <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Your actual content about your experiences, skills, etc.</p>
              </div>
    </div>
  </div>
    </main>

{% endblock %}
