{% extends "base.html" %}

{% block title %}Blog - SlimTechMD{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='images/post-sample-image.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 class="header-title">ブログ</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for item in all_posts %}
            <div class="post-preview">
                <a href="{{ url_for('show_post', post_id=item.post.id) }}">
                    <h2 class="post-title">{{ item.post.title }}</h2>
                    <h3 class="post-subtitle">{{ item.post.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">{{ item.author_first_name }} {{ item.author_last_name }}</a>
                    on {{ item.post.date.strftime('%B %d, %Y') }}
                    {% if item.post.last_edited %}
                    | Edited on {{ item.post.last_edited.strftime('%B %d, %Y') }}
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.id == 1 %}
                    <a href="{{ url_for('delete_post', post_id=item.post.id) }}">✘</a>
                    {% endif %}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            <!-- Pagination -->
            <div class="d-flex justify-content-between mb-4">
                {% if prev_url %}
                <a class="btn btn-primary text-uppercase" href="{{ prev_url }}">← Newer Posts</a>
                {% endif %}
                {% if next_url %}
                <a class="btn btn-primary text-uppercase" href="{{ next_url }}">Older Posts →</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}