{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}

    <header class="masthead colored-section">
        <h1 class="header-title">ブログ</h1>
    </header>

    <!-- Post Previews -->
    <main class="mb-4 white-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for post_data in all_posts %}
                        <div class="post-preview" style="background-image: url('{{ post_data.post.img_url }}'); background-size: cover;">
                            <div class="post-heading">
                                <a href="{{ url_for('show_post', post_id=post_data.post.id) }}" style="text-decoration: none; color: inherit;">
                                    <h2 class="post-title">{{ post_data.post.title }}</h2>
                                    <h3 class="post-subtitle">{{ post_data.post.subtitle }}</h3>
                                </a>
                                <p class="post-meta">Posted by
                                    <a href="#">{{ post_data.author_first_name }} {{ post_data.author_last_name }}</a>
                                    on {{ post_data.post.date }}
                                    {% if current_user.id == 1 %}
                                    <a href="{{url_for('delete_post', post_id=post_data.post.id) }}">✘</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}


                    <div class="clearfix">
                        <a class="btn btn-orange float-right" href="#">もっと見る &rarr;</a>
                    </div>


                    <br>
                    <!-- New Post Button -->
                    <!-- Only show delete button if user id is 1 (admin user) -->
                    {% if current_user.id == 1 %}
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary" href="{{url_for('add_new_post')}}">Create New Post</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
