{% extends "base.html" %}

{% block title %}Contact - SlimTechMD{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('/static/images/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    {% if msg_sent %}
                        <h1>送信しました</h1>
                    {% else %}
                        <h1>問い合わせ</h1>
                        <span class="subheading">Have questions? I have answers.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        {% if msg_sent %}
            <p>お問い合わせありがとうございます。できるだけ早く返信いたします。</p>
            <div class="my-5 text-center">
            <!-- ホームページへのボタン -->
            <a href="{{ url_for('home') }}" class="btn btn-primary text-uppercase">ホーム</a>
            </div>
        {% else %}
            <p>AIと体重管理に関する話題、または日常のちょっとしたことでも、お気軽にメッセージを送ってください。皆さんからのメッセージを楽しみにしています！</p>
        <div class="my-5">
            <form id="contactForm" method="POST" action="{{ url_for('contact') }}" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-floating">
                    {{ form.name(class="form-control", placeholder="Enter your name...") }}
                    <label for="name">名前</label>
                    {% if form.name.errors %}
                        <div class="invalid-feedback d-block">{{ form.name.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-floating">
                    {{ form.email(class="form-control", placeholder="Enter your email...") }}
                    <label for="email">メールアドレス</label>
                    {% if form.email.errors %}
                        <div class="invalid-feedback d-block">{{ form.email.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-floating">
                    {{ form.message(class="form-control", placeholder="Enter your message here...", style="height: 12rem") }}
                    <label for="message">メッセージ</label>
                    {% if form.message.errors %}
                        <div class="invalid-feedback d-block">{{ form.message.errors[0] }}</div>
                    {% endif %}
                </div>
                <br />
                <!-- Submit Button -->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">送信</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
