<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">aicurea</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">ホーム</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">アイキュリアについて</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('get_blog') }}">ブログ</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">お問い合わせ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            情報
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('insurance_companies') }}">旅行保険一覧</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('hospital') }}">病院一覧</a></li>
                            <!-- 必要に応じてさらにリンクを追加 -->
                        </ul>
                    </li>
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">登録</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">ログイン</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">ログアウト</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
