{% extends "base.html" %}

{% block title %}Nobu Ariyoshi{% endblock %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead colored-section">
        <h1>日本語が話せる病院一覧</h1>
    </header>

    <!-- Main Content -->
    <main class="mb-4 white-section">
      <table class="table">
        <!-- Example of how to display hospitals in hospital.html -->
        {% for hospital in hospitals %}
            <div>
                <h2>{{ hospital.name }}</h2>
                <p>{{ hospital.address }}</p>
                <p>{{ hospital.phone }}</p>
                <p><a href="{{ hospital.url }}">{{ hospital.url }}</a></p>  <!-- Display the URL -->
                <p>{{ hospital.description }}</p>
            </div>
        {% endfor %}
      </table>
        <a class="btn btn-warning btn-lg download-button" href="{{ url_for('home') }}">ホームに戻る</a>
    </main>

{% endblock %}