{% extends "base.html" %}

{% block title %}aicurea{% endblock %}

{% block content %}
    <section class="colored-section" id="title">
        <div class="container-fluid">
            <!-- Title -->
            <div>
                <h1 class="main-title">安全な旅を、もっと身近に</h1>
                <br>
                <p class="home-main-subtitle">アイキュリアは、旅行中の不安を解消します</p>
                <img class="hawaii" src="{{ url_for('static', filename='images/hawaii.png') }}" alt="Hawaii Scenery" />
            </div>
        </div>
    </section>


    <section class="white-section" id="contact">
        <div>
            <h2 class="contact-me">お問い合わせ</h2>
            <p class="contact-message">
                AIとヘルスケアに関する話題、または日常のちょっとしたことでも、お気軽にメッセージを送ってください。皆さんからのメッセージを楽しみにしています！
            </p>
            <a class="btn btn-orange btn-lg download-button" href="{{ url_for('contact') }}">メッセージを送る</a>
        </div>
    </section>
{% endblock %}
