{% extends "base.html" %}

{% block title %}ログイン成功{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('static/images/success-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>ログイン成功</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5 text-center">
            <!-- ホームページへのボタン -->
            <a href="{{ url_for('home') }}" class="btn btn-primary text-uppercase">ホーム</a>
        </div>
    </div>
</div>
{% endblock %}
