{% extends "base.html" %}

{% block title %}Login - SlimTechMD{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('static/images/login-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>ログイン</h1>
                    <span class="subheading">アカウントにログインしてください。</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
            <form method="POST" action="{{ url_for('login') }}" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.username(class="form-control", placeholder="ユーザーネームを入力してください") }}
                    <label for="username">ユーザーネーム</label>
                    {% if form.username.errors %}
                    <div class="invalid-feedback d-block">{{ form.username.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password(class="form-control", placeholder="パスワードを入力してください") }}
                    <label for="password">パスワード</label>
                    {% if form.password.errors %}
                    <div class="invalid-feedback d-block">{{ form.password.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-group form-check mb-3">
                    {{ form.remember(class="form-check-input", id="rememberMe") }}
                    {{ form.remember.label(class="form-check-label", for="rememberMe") }}
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">ログイン</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
