{% extends "base.html" %}

{% block title %}{{ post.title }} - Nobu Ariyoshi{% endblock %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead header-section" style="background-image: url('{{post.image_url}}')">
    <div class="overlay"></div>
    <div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1 class="post-title">{{post.title}}</h1>
            <h2 class="post-subtitle">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="blog-body-container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{post.body}}
          </p>
          </div>
      </div>
    </div>
  </article>
{% endblock %}