{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('{{ post.img_url if post.img_url else url_for('static', filename='static/images/hawaii.png') }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <span class="meta">
            Posted by <a href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a>
            on {{ post.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body | safe }}
        <!-- Only show Edit Post button if user id is 1 (admin user) -->
        {% if current_user.id == 1 %}
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{ url_for('edit_post', post_id=post.id) }}">Edit Post</a>
        </div>
        {% endif %}

        <!-- Comments Area -->
        <div class="comment">
          <h2 class="section-heading">コメント</h2>
          {% if current_user.is_authenticated %}
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='comment_text') }}
          {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
          {% else %}
            <p>コメントを投稿するには<a href="{{ url_for('login') }}">ログイン</a>が必要です。</p>
          {% endif %}

          <ul class="commentList">
            <!-- Show all comments -->
            {% for comment in comments %}
            <li>
              <div class="commenterImage">
                <img src="{{ comment.author.email | gravatar }}" />
              </div>
              <div class="commentText">
                <p class="comment">{{ comment.text | safe }}</p>
                <span class="sub-text">{{ comment.author.first_name }} {{ comment.author.last_name }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- CKEditor Configuration -->
<script>
  CKEDITOR.replace('comment_text', {
    extraPlugins: 'uploadimage,image2,pastefromword',
    height: 300,
    filebrowserUploadUrl: '{{ url_for("upload") }}',
    filebrowserUploadMethod: 'form',
  });
</script>
{% endblock %}
