{% extends "base.html" %}

{% block title %}Nobu Ariyoshi{% endblock %}

{% block content %}
    <section class="colored-section" id="title">
        <div class="container-fluid">
            <!-- Title -->
            <div>
                <h1 class="signature">I'm Takenobu.</h1>
                <h2>an <span class="physician">AI engineer.</span></h2>
                <img class="hawaii" src="{{ url_for('static', filename='images/hawaii.png') }}" alt="mountain-image" />
            </div>
        </div>
    </section>

    <section class="white-section" id="profile">
        <div class="container-fluid">
            <div class="profile">
                <img
                    class="myphoto"
                    src="{{ url_for('static', filename='images/takenobu_picture.png') }}"
                    alt="nobuhiro profile picture"
                />
                <h2 class="greeting">Hello.</h2>
                <p class="intro">
                    Founder of Aicurea. I am an Ai engineer based in Japan.
                </p>
                <p class="intro">
                    I love 🏌🏻 and hiking.
                </p>
            </div>
        </div>
    </section>

    <section class="colored-section" id="blog">
        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for post in latest_posts %}
                        <div class="post-preview">
                            <a href="{{ url_for('show_post', index=post.id) }}">
                                <h2 class="post-title">
                                    {{ post.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ post.subtitle }}
                                </h3>
                            </a>
                            <p class="post-meta">Posted by
                                <a href="#">{{ post.author }}</a>
                                on {{ post.date }}
                            </p>
                        </div>
                        <hr>
                    {% endfor %}
                    <!-- Pager -->
                    <div class="clearfix">
                        <a class="btn btn-orange float-right" href="#">Older Posts &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="white-section" id="contact">
        <div>
            <h2 class="contact-me">お問い合わせ</h2>
            <p class="contact-message">
                AIとヘルスケアに関する話題、または日常のちょっとしたことでも、お気軽にメッセージを送ってください。皆さんからのメッセージを楽しみにしています！
            </p>
            <a class="btn btn-orange btn-lg download-button" href="{{ url_for('contact') }}">メッセージを送る</a>
        </div>
    </section>
{% endblock %}
